/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
#feature {
   text-align: center;
}
#feature img {
   margin: 0 0 20px;
}


/* --------------------------------------
   Typography
   -------------------------------------- */
body {
   -webkit-fontsmoothing:antialiased;
   text-rendering:optimizelegibility;
}

.well .page-header {
margin-top: 0;
}

.well .page-header h1 {
margin-top: 0;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */
   
   #searchinput {
      width: 200px;
   }

   ----------------------------------
   Carousel
   -------------------------------------- */
   #mycarousel .item {
      height: 400px;
   }
   #slide1{
         top center no-repeat;}


/* --------------------------------------
   Global Styles
   -------------------------------------- */


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
}